header {
  border: solid 2px black;
  background-color: lightgrey;
  text-align: center;
  height: 200px;
  padding-top: 3px;
  padding-bottom: 20px;
  margin-top: 10px;
  font-size: 40px;
  font-family: fantasy;
}

.results {
  border: solid 3px black;
  padding-top: 10px;
  text-align: center;
  height: 150px;
  margin-top: -3px;
}

button {
  border: solid 2px black;
  background-color: lightgreen;
  font-size: 20px;
  margin-top: 20px;
}

button:hover {
  border: solid 2px black;
  background-color: green;
  font-size: 20px;
  margin-top: 20px;
  transform: scale(1.1);
}

#show1 {
  font-size: 35px;
  font-style: italic;
  color: red;
}

#show2 {
  font-size: 35px;
  font-style: italic;
  color: red;
}

#show3 {
  font-size: 35px;
  font-style: italic;
  color: red;
}

#show4 {
  font-size: 35px;
  font-style: italic;
  color: red;
}

#show5 {
  font-size: 35px;
  font-style: italic;
  color: red;
}
