header {
  background-color: lightgrey;
  text-align: center;
  height: 200px;
  padding-top: 3px;
  padding-bottom: 20px;
  margin-top: 10px;
  font-size: 40px;
}

.results {
  border: solid 2px black;
  padding-top: 10px;
  text-align: center;
  height: 150px;
}

button {
  background-color: green;
  font-size: 20px;
  margin-top: 20px;
}

#show1 {
  font-size: 35px;
  font-style: italic;
  color: red;
}

#show2 {
  font-size: 35px;
  font-style: italic;
  color: red;
}

#show3 {
  font-size: 35px;
  font-style: italic;
  color: red;
}

#show4 {
  font-size: 35px;
  font-style: italic;
  color: red;
}

#show5 {
  font-size: 35px;
  font-style: italic;
  color: red;
}
